<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/style")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
   <div id="header">
       <div class="modal-title">SPORTS STORE</div>
   </div>
    <div id="categories">
        Will put something useful here later
    </div>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
